SVNexus/bin/
Tabalonia/bin
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.DS_Store
csr/target
SVNexus/rust/target

SVNexus/rust/svnexus_macro/target
SVNexus/rust/migration/target

*.sln.DotSettings.user
SVNexus/.deepseek
